.section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
}


.contain {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: auto;
    gap: 16px;
}

.contain .containItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .3125rem;
    width: 350px;
    height: 100%;
    padding: 12px;

}


.contain .containItem .image {
    filter: blur(3px);
    width: 80%;
    border-radius: 100%;
    text-align: center;
    border: #b948fb 10px dashed;
    height: fit-content;
    transition: filter .2s linear;
}

.contain .containItem .image:hover {
    filter: blur(0px);
}

.contain .containItem .content {
    width: 100%;
    height: fit-content;
    font-size: 14px;
}

.contain .containItem .button {
    width: 50%;
    height: 40px;
    background-color: #b948fb;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: all .2s linear;
}

.contain .containItem .button:hover {
    background-color: #a03efb;
}