.detail {
    padding: 80px 16px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.left {
    display: flex;
    flex-direction: column;
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 700px;
    height: 500px;
    /* 阴影 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* 外边框 */
    border: 2px solid #e622c5;
    overflow: hidden;
}

.imageContainer .image {
    border-radius: 8px;
    background-size: cover;
    background-position: center center;
}

.operationBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.operationItem {
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: var(--semi-color-fill-1);
    padding: 3px 10px;
    border-radius: 10px;
    cursor: pointer;
}


.ImageDetailContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.right {
    max-width: 28.75rem;
    max-height: 500px;
    width: auto;
}

.userInfo {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.likePicActived {
    color: red;
}

.publisher {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    /* 阴影 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* 外边框 */
    border: 2px solid #e622c5;
}

.publisher_name {
    font-weight: 700;
    margin-left: 10px;
}

.publisher_desc {
    font-weight: 400;
    margin-left: 10px;
    font-size: 13px;
    color: gray;
}

.userName {
    font-size: 24px;
    font-weight: 600;
}


/* 小屏幕显示 */
@media screen and (max-width: 768px) {
    .detail {
        justify-content: start;
        flex-direction: column;
    }

    .imageContainer {
        max-width: 100%;
        width: 100%;
    }

    .operationBar {
        gap: 1.25rem;
        flex-wrap: wrap;
    }

    /* 用户信息 */
    .userInfo {
        margin: 20px 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .userInfo .publisher {
        width: 50px;
        height: 50px;
    }
}